*
{
    margin: 0;
    padding: 0;
}

body
{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../graphics/cloud.jpg');
    font-family: 'Slabo 27px', serif;
}

header
{
    text-align: center;
    padding-top: 3em;
    margin-bottom: 2em;
    margin-right: 3em;
    margin-left: 3em;
}

h1
{
    border-bottom: 1px solid #000;
}

h3
{
    margin-top: 1.5em;
}

form
{
    margin-right: 2em;
    margin-left: 2em;
}

form fieldset
{
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

select, input
{
    width: 13em;
}

legend
{
    font-weight: bold;
}

#wrapper
{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    background-color: #FFF;
    box-shadow: 0 0 0.7em #000;
    padding-bottom: 2em;
    position: relative;
}

button
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #000;
    padding: 0.5em;
    margin-top: 2em;
    background-color: #C8D6F3;
}

#buttonSend
{
    margin-right: 1.5em;
}

#outerButtonsForm
{
    text-align: right;
}

#buttonsForm
{
    display: inline-block;
}

.formInput
{
    width: 30%;
    float: left;
    margin-bottom: 1.5em;
}

label
{
    font-weight: bold;
}

#tagLine label
{
    font-weight: normal;
}

#moisturize label
{
    font-weight: normal;
}

input[type="checkbox"], input[type="radio"]
{
    width: auto;
    margin-right: 1em;
}

#tagLine
{
    margin-bottom: 2em;
}


.clearFix:after
{
    content:"";
    display:table;
    clear:both;
}

.incarnationContainer
{
    margin-bottom: 2em;
}

.notification
{
    border: 2px solid darkgreen;
    background-color: rgb(178, 232, 160);
    width: 50%;
    position: absolute;
    top: -1em;
    z-index: 10;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 1em #000;
}